* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f0f2f5;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 10px;
}

@media (min-width: 551px) and (max-width: 800px), (max-width: 550px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

header {
  text-align: center;
  padding: 30px;
}

header h1 {
  text-shadow: 1px 1px 1px #cacaca;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.person-search {
  position: relative;
  padding: 15px 10px;
  margin: 10px;
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(218, 218, 218, 0.507);
          box-shadow: 0px 2px 4px 1px rgba(218, 218, 218, 0.507);
}

.person-search input {
  border: none;
  outline: none;
  font-size: x-large;
}

.person-search > div {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.person-search h4 {
  font-weight: 400;
  color: #6363da;
  font-size: 30px;
  margin-right: 10px;
  display: inline-block;
}

.person-search svg {
  width: 25px;
  fill: #3b3bbe;
}

.person-item {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr 1fr 1fr 30px;
      grid-template-columns: 30px 1fr 1fr 1fr 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  margin: 10px;
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(218, 218, 218, 0.507);
          box-shadow: 0px 2px 4px 1px rgba(218, 218, 218, 0.507);
}

@media (min-width: 551px) and (max-width: 800px) {
  .person-item {
    -ms-grid-columns: 30px 1fr 1fr 30px;
        grid-template-columns: 30px 1fr 1fr 30px;
  }
}

@media (max-width: 550px) {
  .person-item {
    -ms-grid-columns: 30px 1fr 30px;
        grid-template-columns: 30px 1fr 30px;
  }
}

.person-item svg {
  margin: auto;
  width: 15px;
}

.person-item svg:nth-child(1) {
  fill: #486eec;
}

.person-item svg:nth-child(2) {
  fill: #afafaf;
}

.person-item h3 {
  font-weight: 200;
  margin-left: 7px;
}

@media (max-width: 550px) {
  .person-item h3 {
    text-align: center;
  }
}

@media (min-width: 551px) and (max-width: 800px) {
  .person-item h3:nth-child(3), .person-item h3:nth-child(5) {
    display: none;
  }
}

@media (max-width: 550px) {
  .person-item h3:nth-child(3), .person-item h3:nth-child(5) {
    display: none;
  }
}

@media (max-width: 550px) {
  .person-item h3:nth-child(4) {
    display: none;
  }
}

.add-person {
  display: block;
  padding: 15px 10px;
  margin: 10px;
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(218, 218, 218, 0.507);
          box-shadow: 0px 2px 4px 1px rgba(218, 218, 218, 0.507);
}

.add-person h2 {
  color: #474747;
  font-weight: 300;
}

.add-person h2 svg {
  fill: #7e7e7e;
  width: 16px;
  margin: 5px;
}

.add-person > form {
  margin-top: 10px;
}

@media (min-width: 551px) and (max-width: 800px), (max-width: 550px) {
  .add-person {
    display: none;
  }
}

.contact-box {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.308);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-box > div {
  width: 500px;
  max-width: 500px;
  min-height: 300px;
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 10px;
}

.contact-box table {
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.contact-box table td {
  border-bottom: 1px solid #e4e4e4;
}

.contact-box table tr td {
  padding: 4px;
}

.contact-box table tr td:nth-child(1) {
  font-weight: 600;
}

.contact-box table tr td:nth-child(2) {
  width: 70%;
}

@media (max-width: 550px) {
  .contact-box table tr td:nth-child(2) {
    width: 50%;
  }
}

label {
  display: block;
  margin: 15px 0px;
  position: relative;
}

label input {
  width: 100%;
  padding: 6px;
  outline: none;
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: inset 0px 0px 2px 0px #e0e0e0;
          box-shadow: inset 0px 0px 2px 0px #e0e0e0;
}

label input:focus {
  border: 1px solid blue;
}

label input:focus + span {
  left: 100%;
  -webkit-transform: translate(-101%, -50%);
          transform: translate(-101%, -50%);
  color: blue;
}

label input:valid + span {
  left: 100%;
  color: #bdbdbd;
  -webkit-transform: translate(-101%, -50%);
          transform: translate(-101%, -50%);
}

label span {
  color: #999999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100px;
  position: absolute;
  left: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-send {
  width: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.btn-add {
  display: none;
  width: 150px;
  outline: none;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #004680;
  color: white;
  cursor: pointer;
}

@media (min-width: 551px) and (max-width: 800px), (max-width: 550px) {
  .btn-add {
    display: block;
  }
}

.btn-close {
  outline: none;
  width: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  background-color: #110986;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */